---
---

@import "tailwindcss/base";
@import "tailwindcss/components";

body {
  @apply font-sans bg-white text-white min-h-screen p-8;

  font-size: 18px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}

@tailwind utilities;
