@font-face {
  font-family: 'Pixel Code';
  font-style: normal;
  font-weight: 100;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: normal;
  font-weight: 200;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: normal;
  font-weight: 300;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: normal;
  font-weight: 400;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: normal;
  font-weight: 500;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: normal;
  font-weight: 600;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-DemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: normal;
  font-weight: 700;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: normal;
  font-weight: 800;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: normal;
  font-weight: 900;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: italic;
  font-weight: 100;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Thin-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: italic;
  font-weight: 200;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-ExtraLight-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: italic;
  font-weight: 300;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Light-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: italic;
  font-weight: 400;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: italic;
  font-weight: 500;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Medium-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: italic;
  font-weight: 600;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-DemiBold-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: italic;
  font-weight: 700;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Bold-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: italic;
  font-weight: 800;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-ExtraBold-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Pixel Code';
  font-style: italic;
  font-weight: 900;
  src: url(https://mitchellhanberg-com-fonts.s3.us-east-005.backblazeb2.com/pixel-code/PixelCode-Black-Italic.woff2) format('woff2');
}
