---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "_includes/thankful_eyes";

body {
  @apply font-sans bg-evergreen-900 text-white min-h-screen py-8;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  @apply bg-white;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-content: center;
}

p {
 @apply mb-4;
}

p:last-child {
  @apply mb-0;
}

a {
  @apply text-evergreen-500 font-bold underline;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: disc;
  padding-left: theme('padding.4');
}

ol {
  list-style-type: decimal;
  padding-left: theme('padding.4');
}

p,
blockquote,
ul,
ol,
.highlighter-rouge {
  + h1 {
    margin-top: 3rem;
  }

  + h2 {
    margin-top: 3rem;
  }

  + h3 {
    margin-top: 3rem;
  }

  + h4 {
    margin-top: 3rem;
  }
}

blockquote {
  /* @apply border-l-3; */

  /* border-color: var(--text-menu-color); */
  /* font-size: 1.1em; */
  /* font-style: italic; */
  /* margin: 1.5em 0; */
  /* padding-left: 0.75em; */
}

.post h1,
.post h2,
.post h3,
.post h4,
.post p,
.post ul,
.post ol,
.post div.highlight,
.about h1,
.about h2,
.about h3,
.about h4,
.about p,
.about ul,
.about ol,
.about div.highlight {
  /* margin-bottom: 1rem; */
}

.post p,
.post ul,
.post ol,
.about p,
.about ul,
.about ol {
  /* line-height: 2; */
}

.post li > ul,
.post li > ol,
.about li > ul,
.about li > ol {
  /* margin-bottom: 0; */
}

.post a,
.about a {
  /* @apply border-b-2; */

  /* border-color: var(--menu-text-color); */
  /* transition: all 150ms ease; */
}

.post a:hover,
.about a:hover {
  /* @apply pb-1; */
}

hr {
  background: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.post hr {
  /* @apply max-w-1/2 my-8; */
}

.mobile-nav {
  overflow-y: hidden;
  max-height: 12rem;
  transition-property: all;
  transition-duration: 150ms;
}

.closed {
  max-height: 0;
}

.subscribe-input {
  @apply py-2 px-4 text-evergreen-700 rounded-lg flex-grow;
}

.subscribe-button {
  @apply py-2 px-8 bg-evergreen-700 text-white cursor-pointer flex-shrink-0;
}

@variants focus {
  .focus-ring-400 {
    outline: 0;
    box-shadow: 0 0 0 3px theme("colors.evergreen.400");
  }
}

@tailwind utilities;
