body {
  padding-top: 50px;
  margin-bottom: 60px;
  font-family: 'Slabo 27px', serif;
}
.site {
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: right;
}
.container {
  width: auto;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.bio {
  padding: 20px;
}
.reading-list {
  list-style: none;
}
.title {
  font-size: 24px;
}
img {
  width: 40%;
  height: auto;
}
.bottom-border {
  border-bottom: 1px solid #eee;
}