<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <ul class='no-style-list no-link-decoration'>
      <li><a><img src="/images/256_m_black.png" alt="Logo image"></a></li>
      <li>
        <a href='https://github.com/mhanberg' target='_blank'><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href='https://www.twitter.com/mitchhanberg' target='_blank'><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href='https://www.instagram.com/mitchhanberg/' target='_blank'><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href='https://www.linkedin.com/in/mitchell-hanberg/' target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</footer>
