<header>
  <div class='flex justify-between mt-2'>
    <a href='/' aria-label="Home button">
      {% include logo.html %}
    </a>
    <div class='flex items-center'>
      <div class='hidden md:block mr-2'>
        <a class='px-3 tracking-wide no-underline hover:underline' href='https://github.com/mhanberg' target='_blank'>GITHUB</a>
        <a class='px-3 tracking-wide no-underline hover:underline' href='https://www.twitter.com/mitchhanberg' target='_blank'>TWITTER</a>
        <a class='px-3 tracking-wide no-underline hover:underline' href='/feed.xml'>RSS</a>
        <a class='px-3 tracking-wide no-underline hover:underline' href='/about'>ABOUT</a>
      </div>
      <button id="theme-btn" class="hover:cursor-pointer hover:shadow-lg" title="Dark Mode toggle"></button>
      <div class="ml-4">
        <div id='hamburger' class='md:hidden'>
          <svg class='fill-current h-8 w-8' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </div>
        <div id='close' class='hidden'>
          <svg class='fill-current h-8 w-8' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
        </div>        
      </div>
    </div>
  </div>
  <div id='menu' class='mobile-nav closed flex flex-col items-end my-4'>
    <a class='py-3 tracking-wide no-underline' href='https://github.com/mhanberg' target='_blank'>GITHUB</a>
    <a class='py-3 tracking-wide no-underline' href='https://www.twitter.com/mitchhanberg' target='_blank'>TWITTER</a>
    <a class='py-3 tracking-wide no-underline' href='/feed.xml'>RSS</a>
    <a class='py-3 tracking-wide no-underline' href='/about'>ABOUT</a>
  </div>
</header>

<script>
  document.getElementById("hamburger").addEventListener("click", Mitch.toggleNav);
  document.getElementById("close").addEventListener("click", Mitch.toggleNav);
  document.getElementById("theme-btn").addEventListener("click", Mitch.toggleTheme);
</script>

