<header class='flex justify-between mt-2'>
  <a href='/'><img class='h-10' src='/images/256_m_red.png' alt='Logo'></a>
  <div class='flex items-center'>
    <a class='my-blue px-3 tracking-wide no-underline hover:underline' href='/about'>ABOUT</a>
    <a class='hidden sm:inline my-blue px-3 tracking-wide no-underline hover:underline' href='/feed.xml'>RSS</a>
    <a class='my-blue px-3 tracking-wide no-underline hover:underline' href='https://www.twitter.com/mitchhanberg' target='_blank'>TWITTER</a>
    <a class='my-blue ml-3 px-3 tracking-wide no-underline hover-bg-my-blue hover:text-white border-my-blue rounded-full leading-normal w-24 text-center' href='https://github.com/mhanberg' target='_blank'>GITHUB</a>
  </div>
</header>


