<div id="omnibox" class="hidden fixed space-y-4 inset-0 py-8 md:py-16 px-4 md:px-12 z-50 w-full h-full flex-col items-center outline-none">
  <div class="grid grid-cols-9 w-full items-center row-gap-4">
    <div id="searchbox" class="md:col-start-2 col-span-9 md:col-span-7 w-full flex flex-col justify-center"></div>
    <div class="col-start-4 col-span-3">
      <div id="powered-by" class="flex justify-center items-center py-2"></div>
    </div>
  </div>

  <div id="hits" class="overflow-y-scroll w-full"></div>
</div>
<script src="/js/algolia.js"></script>
