<a href='https://github.com/mhanberg' target='_blank'><i class="fa fa-github" aria-hidden="true"></i></a>
<a href='https://www.twitter.com/mitchhanberg' target='_blank'><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
<a href='https://www.instagram.com/mitchhanberg/' target='_blank'><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a href='https://www.linkedin.com/in/mitchell-hanberg/' target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
<a href='https://www.mitchellhanberg.com/feed.xml' target='_blank'><i class="fa fa-rss-square" aria-hidden="true"></i></i></a>
