pre.highlight {
  font-size: 90%;

  .bp {
    color: #038;
  }

  .c {
    color: #888;
  }

  .c1 {
    color: #888;
  }

  .cm {
    color: #888;
  }

  .cp {
    color: #c00;
    font-weight: bold;
  }

  .cs {
    color: #c00;
    font-weight: bold;
    background-color: #fff0f0;
  }

  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  .gd {
    color: #000;
    background-color: #fdd;
  }

  .ge {
    font-style: italic;
  }

  .gh {
    color: #303030;
  }

  .gi {
    color: #000;
    background-color: #dfd;
  }

  .go {
    color: #888;
  }

  .gp {
    color: #555;
  }

  .gr {
    color: #a00;
  }

  .gs {
    font-weight: bold;
  }

  .gt {
    color: #a00;
  }

  .gu {
    color: #606060;
  }

  .hll {
    background-color: #ffc;
  }

  .il {
    color: #00d;
    font-weight: bold;
  }

  .k {
    color: #080;
    font-weight: bold;
  }

  .kc {
    color: #080;
    font-weight: bold;
  }

  .kd {
    color: #080;
    font-weight: bold;
  }

  .kn {
    color: #080;
    font-weight: bold;
  }

  .kp {
    color: #080;
  }

  .kr {
    color: #080;
    font-weight: bold;
  }

  .kt {
    color: #888;
    font-weight: bold;
  }

  .m {
    color: #00d;
    font-weight: bold;
  }

  .mf {
    color: #00d;
    font-weight: bold;
  }

  .mh {
    color: #00d;
    font-weight: bold;
  }

  .mi {
    color: #00d;
    font-weight: bold;
  }

  .mo {
    color: #00d;
    font-weight: bold;
  }

  .na {
    color: #369;
  }

  .nb {
    color: #038;
  }

  .nc {
    color: #b06;
    font-weight: bold;
  }

  .nd {
    color: #555;
  }

  .ne {
    color: #b06;
    font-weight: bold;
  }

  .nf {
    color: #06b;
    font-weight: bold;
  }

  .nl {
    color: #369;
    font-style: italic;
  }

  .nn {
    color: #b06;
    font-weight: bold;
  }

  .no {
    color: #036;
    font-weight: bold;
  }

  .nt {
    color: #b06;
    font-weight: bold;
  }

  .nv {
    color: #369;
  }

  .ow {
    color: #080;
  }

  .py {
    color: #369;
    font-weight: bold;
  }

  .s {
    color: #d20;
    background-color: #fff0f0;
  }

  .s1 {
    color: #d20;
    background-color: #fff0f0;
  }

  .s2 {
    color: #d20;
    background-color: #fff0f0;
  }

  .sb {
    color: #d20;
    background-color: #fff0f0;
  }

  .sc {
    color: #d20;
    background-color: #fff0f0;
  }

  .sd {
    color: #d20;
    background-color: #fff0f0;
  }

  .se {
    color: #04d;
    background-color: #fff0f0;
  }

  .sh {
    color: #d20;
    background-color: #fff0f0;
  }

  .si {
    color: #33b;
    background-color: #fff0f0;
  }

  .sr {
    color: #080;
    background-color: #fff0ff;
  }

  .ss {
    color: #a60;
    background-color: #fff0f0;
  }

  .sx {
    color: #2b2;
    background-color: #f0fff0;
  }

  .vc {
    color: #369;
  }

  .vg {
    color: #d70;
  }

  .vi {
    color: #33b;
  }

  .w {
    color: #bbb;
  }

  overflow: auto;
  background: #f7f9fc;
  padding: 1em;
  border: 1px solid #d2ddee;
  border-radius: 0.25em;
}

code.highlighter-rouge {
  background-color: #f7f9fc;
  border: 1px solid #d2ddee;
  border-radius: 2px;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.8em;
  padding: 1px 4px;
}
