@import "syntax";

@media (min-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

.top-border {
  background: rgb(208, 2, 27);
  background:
    linear-gradient(
      90deg,
      rgba(208, 2, 27, 1) 33%,
      rgba(66, 134, 244, 1) 66%
    );
  height: 7px;
}

.my-blue {
  color: #4286f4;
}

.border-my-blue {
  border: 1px solid #4286f4;
}

.hover-bg-my-blue:hover {
  background-color: #4286f4;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: #333;
  word-wrap: break-word;

  :hover {
    text-decoration: underline;
  }
}

body {
  background-color: #fafafa;
  color: #333;
}

blockquote {
  border-left: 3px solid #4286f4;
  font-size: 1.1em;
  font-style: italic;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

.post {
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  div.highlight {
    margin-bottom: 1rem;
  }

  p,
  ul,
  ol {
    line-height: 2;
  }
}

hr {
  background: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.mobile-nav {
  overflow-y: hidden;
  max-height: 10rem;
  transition-property: all;
  transition-duration: 150ms;
}

.closed {
  max-height: 0;
}

