---
layout: page
title: Uses
---

<section class="max-w-2xl m-auto">
  <h1>Uses</h1> 

  <p> No one ever asks me what font or syntax theme I use, but nevertheless here we are. </p>

  {% for category in site.data.uses %}
  <h2>{{ category.name }}</h2>
  <ul class="px-1">
  {% for entry in category.entries %}
    <li class="list-none">
    {% if entry.description %}
      <details>
        <summary>
          <span id="{{ entry.name | slugify }}"class="text-white font-semibold">
            <a href="{{entry.link}}" target="_blank">{{ entry.name }}</a>
          </span>
        </summary>
        <div class="pl-5">
          <div class="bg-evergreen-800 my-2 py-2 px-4 rounded-md">
            {{entry.description | markdownify}}
          </div>
        </div>
      </details>
    {% else %}
      <div class="pl-5">
        <span id="{{ entry.name | slugify }}"class="text-white font-semibold">
          <a href="{{entry.link}}" target="_blank">{{ entry.name }}</a>
        </span>
      </div>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  {% endfor %}
</section>
