---
layout: default
---

<section class="mt-4 max-w-2xl mx-auto">
  <div class="border-b pb-4">
    <h1 class="text-2xl md:text-3xl mb-4">{{ page.title }}</h1>
    <div class="text-sm italic">{{ page.date | date: "%B %d, %Y" }} • {{ page | reading_time }}</div>
  </div>
  {% if page.image %}
    <p class="text-center mt-4 py-4">
      <img  src="{{ page.image | absolute_url }}" alt="Pointless hero image, reminiscent of medium posts">
      <p class="text-center text-xs mb-16">{{page.image_desc}}</p>
    </p>
    <article class="post mx-auto">
  {% else %}
    <article class="post my-4 mx-auto">
  {% endif %}
    {{ content }}
    </article>
    <div class="">
      <hr>

      <div class="bg-evergreen-800 p-4 rounded mb-4">
        <p>If you want to be notified in the future about new articles, as well as other interesting things I"m working on, join my mailing list!</p>

        <p class="text-sm text-evergreen-400">I send emails quite infrequently, and I will <strong class="text-white">never</strong> share your email address with anyone else.</p>

        {% include subscribe.html %} 
      </div>
    </div>
</section>

