---
layout: default
---

<section class="mt-4">
  <div class="border-b pb-4 max-w-2xl mx-auto">
    <h1 class="text-2xl md:text-3xl mb-4">{{ page.title }}</h1>
    <div class="text-sm italic">{{ page.date | date: "%B %d, %Y" }} 
      {% if page.updated %}
        • Updated on {{ page.updated | date: "%B %d, %Y" }}
      {% endif %}
      • {{ page | reading_time }}
    </div>
    {% if page.tags.size > 0 %}
      <div class="mt-4 text-sm">
        Tags: <span>{{ page.tags | tags | h }}</span>
      </div>
    {% endif %}
  </div>
  {% if page.img %}
    <p class="mt-4 py-4 mb-16">
      <img class="mx-auto bg-transparent" src="{{ page.img | absolute_url }}" alt="Pointless hero image, reminiscent of medium posts">
      <p class="text-center text-xs">{{page.image_desc}}</p>
    </p>
    <article class="post mx-auto">
  {% else %}
    <article class="post my-4 mx-auto">
  {% endif %}
    {{ content }}
    </article>
    <div class="max-w-2xl mx-auto mt-16">
      <hr>

      <div class="bg-evergreen-800 p-4 rounded mb-4">
        <p>If you want to stay current with what I'm working on and articles I write, join my mailing list!</p>

        <p class="text-sm">I seldom send emails, and I will <strong class="text-white">never</strong> share your email address with anyone else.</p>

        {% include subscribe.html %} 
      </div>
    </div>
</section>

<script>
  Mitch.anchorifyHeaders();
  Mitch.wrapTable();
</script>
